<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  <body>
    <main>
      <h1>Products</h1>
      <table>
        <thead>
          <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="product : ${products}">
            <td th:text="${product.sku}">SKU</td>
            <td>
              <a
                th:href="@{/products/{id}(id=${product.id})}"
                th:text="${product.name}"
                >Name</a
              >
            </td>
            <td th:text="${product.category}">Category</td>
            <td th:text="${product.priceDisplay}">0.00</td>
            <td th:text="${product.status}">STATUS</td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
